.card-design{
    border-radius: 10px;
}
.card-design:hover{
    transform: scale(1.08);
    transition: transform 0.3s ease-in-out;
}
.img-edit{
    width: 100%;
    height: 220px;
}
.link-d{
    text-decoration: none;
    color:white;
}
.link-d:hover{
    text-decoration: none;
    color: black;
}