.card-design{
    border-radius: 4%;
    /* z-index: -1000; */
}
.card-design:hover{
    transform: scale(1.08);
    transition: transform 0.3s ease-in-out;
    /* position: absolute; */
}
.text-color{    
   color: #BB2D3B;
}
/* .btn-all{
    padding: .5rem 1rem;
    background-color: #DCBB87;
    border: solid #DCBB87;
    border-radius: 25px;
    font-weight: 600;
}
.btn-all:hover{
    background-color: white;
    border-radius: 25px;
    border: solid #DCBB87;
    font-weight: 600;
    color: #DCBB87;
    transition: .5s ease-in-out;
} */


.link-d{
    text-decoration: none;
    color: black;
}

.link-d:hover{
    text-decoration: none;
    color: black;
}