.top-banner{
    background: url(../../images/banner-1.jpg);
    background-position: center;
    /* background-size: cover; */
    background-size:100vw 120vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.top-section{
    padding: 300px;
}

@media only screen and (max-width: 600px) {
.top-section{
        padding: 100px;
    }
  }