.top-banner{
    background:linear-gradient(rgba(9, 27, 87, 0.74), rgba(27, 26, 26, 0.76)), url(../../images/banner-1.jpg);
    background-position: center;
    background-size:100vw 120vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.top-section{
    padding: 250px;
}
.explore-btn{
    background-color: #FF4A17;  
    white-space: nowrap;
    padding: 10px 18px;
    border: none;
}
.explore-btn:hover{
    background-color: transparent;
    border: 2px solid #FF4A17;
    transition: .5s;
    font-weight: 600;
}
.brnad img {
    width: 150px;
}
.brnad img:hover{
    transform: scale(1.08);
    transition: transform 0.3s ease-in-out;
}
.offer{
    overflow: hidden;
}
.offer img:hover{
    transform: scale(1.08);
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
.top-section{
        padding: 100px;
    }
  }