
.bg-t{
    background-color:rgba(6, 6, 41, 0.774);
}
/* .add-banner{
    background-image: url('../../Images/add-service-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
} */
.box-design{
    background-color: rgba(34, 34, 63, 0.842);
}
.tittle{
    color: #DCBB87;
    margin-bottom: 25px;
   
}
.d-from form {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 150px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 20px;
}
.box-design input{
    margin-top: 10px;
    border: 2px solid #FF4A17 ;
    border-radius: 10px;
    width: 200%;
    padding: 10px;
}