.logo-design{
    width: 13%;
}
.link-design{
    text-transform: uppercase;
    padding: 5px 10px;
    position: relative;
    color: #FF4A17;
}
.link-design:hover{
    color: white;  
}
.link-design::after{
   content: " ";
   background-color: #FF4A17;
   transition: 0.7s;
   height: 0;
   width: 100%;
   left: 0;
   position:absolute;
}
.link-design:hover::after{
    height: 100%;
    z-index: -1000;
}
.header-de{
    background-color: #fdd3c79f;
    color: #FF4A17;
    margin-right: auto;
    z-index: 1000;
}
.text-color{
    color:#FF4A17;
}
.btn-all{
    padding: .5rem 1rem;
    background-color: #FF4A17;
    border: solid #FF4A17;
    border-radius: 25px;
    font-weight: 600;
    color: white;
}
.btn-all:hover{
    background-color: white;
    border-radius: 25px;
    border: solid #FF4A17;
    font-weight: 600;
    color: #FF4A17;
    transition: .5s ease-in-out;
}
.link-de{
    text-decoration: none;
    color: white;
}
.link-de:hover{
    color:#FF4A17;
}